div#corpo {
    display: block;
    background-image: url(../Images/fundo2.png);
    box-shadow: black 0px 0px 10px;
    width: 93%;
    margin: -10px auto 10px auto;
    text-align: center;
}

    div#corpo h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15pt;
        color: black;
        margin: 20px 20px 20px 25px;
        padding: 10px;
        text-align: left;
    }

section#corpo4 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 20px 20px 20px 40px;
    font-weight: bold;
}

section#corpo4 h3 {
    font-family: Arial Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20pt;
    padding-bottom: 30px;
    color: gray;
    text-decoration: none;
}

section#corpo4 a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 1% 8% 1% 8%;
}

section#corpo4 a:hover {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 1% 8% 1% 8%;
}

iframe#mapa {
    width: 100%;
    position: relative;
}

section#corpo4 h1 {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

img#desenho2 {
    width: 20%;
}
